*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
}
.input_wrapper input {
    padding : 10px;
    border-radius: 5px;
    border: solid 1px #dbdbdb;
    margin : 10px 0px;
    width :100%;
}
.form_action {
    display: flex;
    justify-content: space-between;
    align-items : center;
    margin:10px;
}
.btn {
    background-color: #42b72a;
    color: white;
    padding : 7px 10px;
    border-radius: 5px;
}
.basic_btn {
    background: transparent;
    border: white;
}
.error {
    color: red;
}
.cursor_pointer {
    cursor: pointer;
}
.cancel {
    background-color: red;
    color: white;
    padding : 7px 10px;
    border-radius: 5px;
}
.FF0000 {
    background-color: #FF0000;
    color: #ffffff
}
.FA28FF {
    background-color:#FA28FF;
    color: #ffffff;
}
.A4DD00 {
    background-color:#A4DD00;
    color: #ffffff;
}
.AB149E {
    background-color:#AB149E;
    color: #ffffff;
}
.A1887F {
    background-color:#A1887F;
    color: #ffffff;
}
.FFEB3B {
    background-color:#FFEB3B;
    color: #ffffff;
}
.FF5722 {
    background-color:#FF5722;
    color: #ffffff;
}
.xanhthienthanh {
    background-color: #4FC3F7;
    color: white;
}
/* "FFFFFF","FF0000" ,"FA28FF","A4DD00","AB149E","A1887F","FFEB3B", "FF5722" */